@import "~bootstrap/scss/bootstrap";
.App {
  text-align: center;
  font-size: 14px;

  .currency-info {
    min-width: 450px;
  }
  .convert-block {
    width: 80%;
    margin: auto;
  }
  .icon-swap {
    width: 32px;
    height: 32px;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
}
